.fade-up {
  opacity: 0;
  transform: translateY(12px);
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: '__Saans';
  src: url('/fonts/__saans_cd5095-652.woff2') format('woff2');
  font-weight: 400; /* Adjust if bold variant available */
  font-style: normal;
  font-display: swap;
}

